* {
    background-color: sandybrown;
    font-family: 'Roboto', sans-serif;
}

.green {
    color: lime;
    text-decoration: none;
    background-color: white;
}

.h2 {
    width: 120%;
    height: 120%;
    color: sandybrown;
    text-decoration: none;
    background-color: white;
}

.text {
    text-align: center;
    max-width: 40%;
    background-color: white;
}

main {
    position: absolute;
    text-align: center;
    margin-left: 500px;
    background-color: white;
    width: 890px;
    padding: 20px;
    border-color: white;
}

footer{
    padding: 30px;
    text-align: center;
}

p {
    background-color: white;
}


img {
    width: 99%;
}

footer {
    background-color: lime;
}

.foot {
    text-decoration: none;
    background-color: lime;
    color: green;
}

.down {
    margin-left: 600px;
}

.right {
    background-color: white;
}

